.bodysection{
	margin-top: 10px;
}

.bodyhead{
	height: 80px;
	width: 100%; 

}
.bodyhead i{
	color: #e98000;
}
.contentcontainer h3{
	font-size: 18px;
}


.bodyhead span{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.created{
	font-weight: bold;
	font-style: italic;
 }
